#exitButton {
    -fx-background-color: -exit-button-color;
}

.table-view {
    -fx-padding: 0px;
    -fx-background-color: lightgray;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}